name: Tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      # TODO: Uncomment this when we have fixed the ability to run the
      # integration tests on the github actions runner.
      # - name: Setup Ko
      #   uses: ko-build/setup-ko@v0.9

      # TODO: Uncomment this when we have fixed the ability to run the
      # integration tests on the github actions runner.
      # - name: Set up Docker
      #   uses: docker/setup-docker-action@v4

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: '3.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test
        run: task test

      # TODO: Uncomment this when we have fixed the ability to run the
      # integration tests on the github actions runner.
      # - name: Test
      #   run: task test-integration